.recent-post-item
  margin: 1.6rem 0 2rem

  .content
    p
      word-break: break-word

  time
    color: $grey

  .more
    display: inline-block
    padding: 0 0.6rem
    height: h = 1.6rem
    background: $light-blue
    color: $white
    text-align: center
    text-decoration: none
    line-height: h
    cursor: pointer
    transition: all 0.2s ease-in-out

    &:hover
      background: $ruby

  .article-title
    display: block
    margin-bottom: 0.3rem
    border-bottom: 1px solid $light-grey
    color: $black
    text-decoration: none
    font-size: 1.4rem
    cursor: pointer
    cursor: pointer
    transition: all 0.2s ease-in-out

    &:hover
      border-bottom: 1px solid $light-blue
      color: $light-blue

.tag-cloud
  padding: 4.5rem 0 7rem
  text-align: center

  a
    margin: 0 0.4rem
    text-decoration: none
    cursor: pointer

    &:hover
      color: $ruby !important

  &__title
    font-size: 1.8rem

#tag,
#category,
#archive
  padding: 3rem 0 3rem

.article-sort
  padding-left: 1rem
  border-left: 2px solid $pale-blue

  &-title
    position: relative
    padding-bottom: 1.2rem
    padding-left: 1rem
    font-size: 1.2rem
    line-height: 1

    &:hover
      &:before
        border-color: $ruby

    &:before
      position: absolute
      top: 0.25rem
      left: calc(-0.5rem + 1px)
      z-index: 1
      width: w = 0.5rem
      height: h = w
      border: 0.5 * w solid $light-blue
      border-radius: w
      background: $white
      content: ""
      line-height: h
      transition: all 0.2s ease-in-out

    &:after
      position: absolute
      bottom: 0
      left: 0
      z-index: 0
      width: 0.1rem
      height: 1.3rem
      background: $pale-blue
      content: ""

  &-item
    position: relative
    margin-bottom: 1rem
    transition: all 0.2s ease-in-out

    &:hover
      &:before
        border-color: $ruby

    &:before
      $w = 0.3rem
      position: absolute
      top: 0.48rem
      left: calc(-1rem - 7px)
      width: w = $w
      height: h = w
      border: 0.5 * w solid $light-blue
      border-radius: w
      background: $white
      content: ""
      line-height: h
      transition: all 0.2s ease-in-out

    &.year
      font-size: 1rem

      &:hover
        &:before
          border-color: $light-blue

      &:before
        top: 0.7rem
        border-color: $ruby

    &__time
      position: absolute
      top: 0.1rem
      color: $a-link-color

    &__title
      display: block
      margin-left: 5rem
      color: $font-black
      text-decoration: none
      font-size: 0.8rem
      cursor: pointer

.category-lists
  padding: 3rem 0 3rem

  .category__title
    text-align: center
    font-size: 1.8rem

.category-list
  a
    color: $font-black
    text-decoration: none
    cursor: pointer

  .category-list-count
    margin-left: 0.4rem
    color: $a-link-color

    &:before
      content: "("

    &:after
      content: ")"

.quote-lists
  hr
    display: none

  /* https://codepen.io/iPawan/pen/emrPKP */
  blockquote
    position: relative;
    display:block;
    font-size: 1rem;
    line-height: 1.2;
    background: #fff;
    margin: 1rem auto;
    padding: .6rem 1.2rem .6rem 2rem;
    word-wrap: break-word;
    box-shadow: .2rem .2rem 1rem #ccc;
    border-left-style: solid;
    border-left-width: 1rem;
    border-right-style: solid;
    border-right-width: .2rem;

    &:before
      top: .2rem;
      left: .4rem;
      position: absolute;
      color: #999;
      content: "\201C"; /* Unicode for Left Double Quote */
      font-family: Georgia, serif;
      font-size: 3.2rem;
      font-weight: bold;

    &:after
      content: "";

    /*Grapefruit Color Palette*/
    &:nth-of-type(8n)
      border-left-color: #ed5565;
      border-right-color: #da4453;

    /*Sunflower Color Palette*/
    &:nth-of-type(8n+1)
      border-left-color: #ffcd69;
      border-right-color: #f6ba59;

    /*Grass Color Palette*/
    &:nth-of-type(8n+2)
      border-left-color: #9fd477;
      border-right-color: #8bc163;

    /*Mint Color Palette*/
    &:nth-of-type(8n+3)
      border-left-color: #46cfb0;
      border-right-color: #34bc9d;

    /*Aqua Color Palette*/
    &:nth-of-type(8n+4)
      border-left-color: #4fc2e5;
      border-right-color: #3bb0d6;

    /*Blue Jeans Color Palette*/
    &:nth-of-type(8n+5)
      border-left-color: #5e9de6;
      border-right-color: #4b8ad6;

    /*Lavander Color Palette*/
    &:nth-of-type(8n+6)
      border-left-color: #ad93e6;
      border-right-color: #977bd5;

    /*Pinkrose Color Palette*/
    &:nth-of-type(8n+7)
      border-left-color: #ed87bd;
      border-right-color: #d870a9;

@media screen and (max-width: $sm)
  .recent-post-item
    .article-title
      font-size: 1rem